{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block body %} class="bg-gray-900" {% endblock body %}

{% block content %}
  <div class="container-md mt-7">
    <div class="row">
      <div class="col-lg-8">
        <h3 class="text-white">{{ object|yesno:"Update,Create" }} Worker</h3>
        <form action="" class="text-white" method="post">
          {% csrf_token %}
          {{ form|crispy }}

          <input type="submit" value="Submit" class="btn bg-gradient-primary">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
